body {
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

header,
footer {
  font-family: "American Typewriter", monospace;
  width: 100vw;
  text-align: center;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "American Typewriter", monospace;
  font-weight: normal;
}

main {
  width: 100vw;
  padding: 1vh 1vw;
}

/* 

#liner-notes, #newreleases {
  display: inline-block;
  vertical-align: top;
  width: 22vw;
}

#featured {
  display: inline-block;
  vertical-align: top;
  width: 48vw;
  padding: 0 1vw;
} */

#featured p>img {
  height: 100%;
  width: 100%;
}

#featured>h2 {
  text-align: center;
}

header>a>img {
  width: 60vw;
  height: auto;
}

div.featuredImage {
  width: 100%;
  text-align: center;
}

div.featuredImage>img {
  width: 40%;
  height: auto;
  text-align: center;
}

.featureSummary {
  font-size: 18px;
}

#list-page {
  display: block;
  width: 90vw;
  padding: 0 5vw;
}

#list-page img {
  width: 50%;
  height: auto;
}

.entry>h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.entry>h5 {
  padding-top: 0;
  margin-top: 0;
}

#comments {
  margin: 1rem auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {

  #liner-notes,
  #newreleases {
    display: none;
  }

  #featured {
    display: inline-block;
    width: 90vw;
    padding: 0 5vw;
  }

  #comments {
    width: 95vw;
  }

  header>nav {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {

  #liner-notes,
  #newreleases {
    display: inline-block;
    vertical-align: top;
    width: 22vw;
  }

  div.column-header {
    text-align: center;
  }

  div.column-header>img {
    max-width: 175px;
    height: auto;
  }

  #featured {
    display: inline-block;
    width: 48vw;
    padding: 0 1vw;
  }

  #comments {
    width: 58vw;
  }

  header>nav {
    display: none;
  }
}