body {
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

header,
footer {
  font-family: "American Typewriter", monospace;
  width: 100vw;
  text-align: center;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "American Typewriter", monospace;
  font-weight: normal;
}

main {
  width: 100vw;
  padding: 1vh 1vw;
}


#liner-notes, #newreleases {
  display: inline-block;
  vertical-align: top;
  width: 22vw;
}

#featured {
  display: inline-block;
  vertical-align: top;
  width: 48vw;
  padding: 0 1vw;
}

#featured p>img {
  height: 100%;
  width: 100%;
}

header > img {
  width: 60vw;
  height: auto;
}

div.featuredImage {
  width: 100%;
  text-align: center;
}

div.featuredImage>img {
  width: 40%;
  height: auto;
  text-align: center;
}

.featureSummary {
  font-size: 18px;
}
