<h3>
  <a href="/liner-notes">Liner Notes</a> |
  <a href="/conversations">Featured Conversations</a> |
  <a href="/essays">Featured Essays</a> |
  <a href="/q-and-a">Q & A</a>
</h3>
<h3>
  Site Support for Authors' Fund:
  <a href="https://venmo.com/Michele-Catalano2659" target="_blank">Venmo</a> |
  <a
    href="https://paypal.me/goingitaloneny?country.x=US&locale.x=en_US"
    target="_blank"
    >Paypal</a
  >
</h3>

<h3>
  <a
    href="https://docs.google.com/document/d/1VS-bJkogMquSiqMOh8lZIqXzA2CgGsWmaUzWYg-GeDc/edit?usp=sharing"
    target="_blank"
    >Vision Statement</a
  >
  |
  <a
    href="https://docs.google.com/document/d/1bbi5eacL_LrSJsu5Vx8vgO7E8qzqzEf62BO6zN0wKSk/edit?usp=sharing"
    target="_blank"
    >Pitches</a
  >
  | <a href="mailto:michele.catalano@gmail.com">Contact</a> |
  <a href="https://bsky.app/profile/ihavethatonvinyl.com" target="_blank"
    >Bluesky</a
  >
</h3>
<p>
  Copyright &copy; 2024 &mdash; {{ now.Year }}. All rights reserved.
</p>
