<div class="column-header"><img src="/images/newreleases.png" /></div>
{{ $essays := where .Site.RegularPages "Type" "essays" }}
{{ $qas := where .Site.RegularPages "Type" "q-and-a" }}

{{ $essay := index $essays 0 }}
{{ $qa := index $qas 0 }}

{{ with $essay }}
<div class="entry">
  <h3><a href="{{ .RelPermalink }}">Featured Essay: {{ .LinkTitle }}</a></h3>
  <h5><em>Published on {{ .Date.Format "Jan 2, 2006" }}</em></h5>
</div>
{{ end }}
{{ with $qa }}
<div class="entry">
  <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  <h5><em>Published on {{ .Date.Format "Jan 2, 2006" }}</em></h5>
</div>
{{ end }}
