{{ define "main" }}
<div id="liner-notes">{{ partial "liner-notes.html" . }}</div>
<div id="featured">
  {{ $collection := where .Site.RegularPages "Type" "conversations" }}
  {{ if gt (len $collection) 0 }}
    {{ $page := index $collection 0 }}
    {{ with $page }}
      <h2>FEATURED INTERVIEW: {{ .Title | upper }}</h2>
      {{ if .Params.featuredImage }}
      <div class="featuredImage">
      <img src="{{ .Params.featuredImage }}" alt='{{ default "Featured Image" .Params.featuredImageAlt }}' title='{{ default "Featured Image" .Params.featuredImageCap }}' />
      </div>
      {{ end }}
      <div class="featureSummary">{{ .Summary }}</div>
      <h4><em><a href="{{ .RelPermalink }}/index.html">Read More...</a></em></h3>
    {{ end }}
  {{ else }}
    <h2>No featured interviews at the moment. Check back soon!</h2>
  {{ end }}
</div>
<div id="newreleases">{{ partial "new-releases.html" . }}</div>
{{ end }}
